.supporters {
    @extend %container;

    box-sizing: border-box;
    margin: auto;
    width: 75%;
}

.supporters-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.supporter-img {
    object-fit: cover;
    width: 100%;
    transition: opacity 0.75s ease-in-out;
    opacity: 1;
}

.supporter-img-hidden {
    filter: alpha(opacity=50);
    opacity: 0;
}
