$white: #fff;
$bluish: #042244;
$bluish-hover: rgba(4, 34, 68, 0.75);
$description: #656575;
$dark-gray: #171717;
$hover-gray: #636363;
$light-gray: #c5c5c5;
$gray-bkg: #f5f5f5;
$black: #000;
$orange: #ffa500;
$slider-background: #34495e;
