@import url('./utilities/_variables.scss');
@import url('./utilities/_placeholders.scss');
@import url('./fonts/_fonts.scss');
@import url('./basic/_basic.scss');

@font-face {
    font-family: 'fontawesome';
    font-style: normal;
    font-weight: normal;
    src: url('../font/fontawesome.eot?45770787');
    src: url('../font/fontawesome.eot?45770787#iefix') format('embedded-opentype'),
        url('../font/fontawesome.woff?45770787') format('woff'),
        url('../font/fontawesome.ttf?45770787') format('truetype'),
        url('../font/fontawesome.svg?45770787#fontawesome') format('svg');
}

.icon {
    font-family: 'fontawesome';
    font-style: normal;
}

.icon-cog-alt:before { content: '\e800'; }
.icon-road:before { content: '\e801'; }
.icon-link:before { content: '\e802'; }
.icon-users:before { content: '\e803'; }
.icon-github-circled:before { content: '\f09b'; }
.icon-lightbulb:before { content: '\f0eb'; }
.icon-desktop:before { content: '\f108'; }
.icon-code:before { content: '\f121'; }
.icon-calendar-empty:before { content: '\f133'; }
.icon-handshake-o:before { content: '\f2b5'; }
